
<div class="img-title">
    
    <img src="pokemon.png" alt="">

    <h2>{{message}}</h2>

</div>

<div class="cards-container">
    @for (pokemon of pokemons; track pokemon) {
        <ey-pokemon-card [pokemon]="pokemon"></ey-pokemon-card>
    }
</div>
<mat-paginator #paginator
               class="demo-paginator"
               (page)="handlePageEvent($event)"
               [length]="pokemons[0].total || 0"
               [pageSize]="20"
               [showFirstLastButtons]="true"
               [hidePageSize]="false"
               [pageIndex]="pageIndex"
               aria-label="Select page">
</mat-paginator>